<!-- Loop over each object in the post array -->
<h1>The Tech Blog</h1>

{{#each posts as |post| }}
<div class="card">
  <h4 class="card-header">{{post.title}} Posted by {{post.user_id}} on {{post.date_created }}</h4>
  <div class="card-body">
    <p class="card-text">{{post.context}}</p>
  </div>
</div>
{{/each}}