.card {
  padding: 25px;
}

.card-header,
.nav,
h1 {
  background-color: rgb(32, 32, 32);
}

.card-body {
  background-color: rgb(238, 235, 235);
}

a,
.detail-font,
.card-header {
  color: white;
}

h1 {
  color: rgb(201, 223, 78);
}

.detail-font {
  font-size: small;
}

.btn-danger {
  margin-top: 15px;
}

.new-post {
  margin-left: 15px;
}
